<section class="section">
  <form class="form" action="" method="post">
    <h1>Crear Categoria</h1>
    <div class="form__content">
      <label for="">NOMBRE</label>
      <input class="form__input" type="text" placeholder="Nombre" />
    </div>
    <div class="form__content">
      <label for="description" class="label">DESCRIPCION</label>
      <textarea placeholder="Descripcion" class="form__input form__input--textarea" name="description" id="description" ></textarea>
    </div>
    <button class="boton">Crear Categoria</button>
  </form>
</section>