@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --color-fondo: #06202B;
  --color-principal: #077A7D;
  --color-secundario: #7AE2CF;
  --color-texto: #F5EEDD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--color-principal);
  border-bottom: 1px solid var(--color-secundario);
}

.logo {
  height: 40px;
  width: auto;
  display: block;
}

.nav__list {
  list-style: none;
  display: inline-flex;
  gap: 2rem;
}

.nav__link {
  font-size: 18px;
  text-decoration: none;
  color: var(--color-texto);
  font-weight: 500;
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--color-secundario);
}

.header__autenticacion {
  display: flex;
  gap: 1rem;
}

.boton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  color: var(--color-texto);
  border: 2px solid var(--color-secundario);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: 100px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.boton:hover {
  background-color: var(--color-secundario);
  color: var(--color-fondo);
}

.boton--registro {
  border-color: var(--color-principal);
}

.boton--registro:hover {
  background-color: var(--color-principal);
  color: var(--color-fondo);
}

/* ESTILO TABLA */

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
.container{
  display: flex;
  justify-content: space-between;
  min-width: 54.5vw;
  margin-top: 4rem;
  padding-bottom: 2rem;
}
.tabla {
  color: var(--color-texto);
  border-collapse: collapse;
  /* border: 3px solid var(--color-secundario); */
}

/* .tabla__encabezado {} */

/* .tabla__cuerpo {} */

/* .tabla__fila {} */

.tabla__celda {
  border: 2px solid var(--color-secundario);
  border-spacing: 0;
  padding: 1rem 2rem;
}

.tabla__container-buttons{
  display: flex;
  gap: 1rem;
}
.boton--tamanio_agrandado{
  border-radius: 0px 15px 0px 15px;
  min-width: 200px;
}

/* ESTILO FORMULARIO */
.section{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 40vh;
  background-color: var(--color-principal);
  border-radius: 20px;
}